<script setup lang="tsx">
import {
  defineComponent, defineProps, reactive, computed, PropType, watch, ref,
} from 'vue';
import { chunk } from 'lodash-es';
import BasePagination from '@/components/BaseComponents/BasePagination.vue';
import BaseSelect from '@/components/BaseComponents/BaseSelect.vue';

interface HeaderModel {
  text?: string;
  value: string;
}

const props = defineProps({
  headers: {
    type: Array as PropType<HeaderModel[]>,
    default: () => [],
  },

  items: {
    type: Array as PropType<any[]>,
    default: () => [],
  },

  pageSizeItems: {
    type: Array as PropType<{ id: number, name: string, value: number}[]>,
    default: () => [
      { id: 0, name: '10', value: 10 },
      { id: 1, name: '50', value: 50 },
      { id: 2, name: '100', value: 100 },
    ],
  },

  pageSizeDefault: {
    type: Number,
    default: 0,
  },

  noPagination: {
    type: Boolean,
    default: false,
  },
});

const isEmpty = computed(() => !props.items.length);

const pagination = reactive({
  size: 10,
  current: 1,
});

const container = ref<HTMLDivElement>();

const chunks = computed(() => {
  const size = props.noPagination ? props.items.length : pagination.size;
  return chunk(props.items, size);
});

watch(chunks, () => {
  if (!chunks.value[pagination.current - 1]) {
    pagination.current = 1;
  }
});

watch(() => pagination.current, () => {
  console.log('scroll');
  container.value?.scrollTo({
    top: 0,
    behavior: 'smooth',
  });
});

const pageInfo = computed(() => defineComponent({
  render() {
    const start = pagination.size * (pagination.current - 1) + 1;
    const end = pagination.size * pagination.current;
    const length = props.items.length;

    return (
      <span>
        <b class="mx-1 dark:text-white">{ start }</b>
        -
        <b class="mx-1 dark:text-white">{ end }</b>
        /
        <b class="mx-1 dark:text-white">{ length }</b>
      </span>
    );
  },
}));

// eslint-disable-next-line vue/no-setup-props-destructure
pagination.size = props.pageSizeDefault || props.pageSizeItems[0].value;
</script>

<template>
  <div class="flex flex-col h-full">
    <div
      ref="container"
      class="align-middle h-full overflow-y-auto"
    >
      <table class="min-w-full bg-gray-100 dark:bg-gray-900">
        <thead>
          <tr class="sticky top-0 text-gray-700 dark:text-gray-100 bg-white dark:bg-gray-800">
            <th
              v-for="(head, idx) in headers"
              :key="idx"
              scope="col"
              class="
                    px-2 py-2 text-left text-xs font-medium
                    tracking-wider whitespace-nowrap
                  "
              :class="`th-${head.value}`"
            >
              <slot
                :name="`header_${head.value}`"
                :item="head"
              >
                {{ typeof head.text !== 'undefined' ? head.text : head.value }}
              </slot>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-if="isEmpty">
            <td
              class="
                  px-2 py-2 text-sm font-medium text-center
                  text-black dark:text-gray-300
                  "
              :colspan="headers.length"
            >
              Empty
            </td>
          </tr>

          <tr
            v-for="(item, idx) in chunks[pagination.current - 1]"
            v-else
            :key="idx"
            class="
              border-b border-gray-400 dark:border-gray-600
              hover:bg-gray-300 dark:hover:bg-gray-700
              text-gray-500 dark:text-gray-400"
            :class="`tr-${idx}`"
          >
            <td
              v-for="(head, headIdx) in headers"
              :key="headIdx"
              class="px-2 py-2 text-sm font-medium"
              :class="`td-${head.value}`"
            >
              <slot
                :name="head.value"
                :item="item"
                :idx="idx"
                :start="pagination.size * (pagination.current - 1) + 1"
              >
                {{ item[head.value] }}
              </slot>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      v-if="!noPagination"
      class="flex justify-between items-center px-2 dark:text-gray-300"
    >
      <div
        v-if="props.pageSizeItems.length > 1"
        class="flex items-center"
      >
        <BaseSelect
          v-model="pagination.size"
          :items="pageSizeItems"
          class="w-24"
          @change="pagination.current = 1"
        />
        <span class="ml-2 text-sm">per page</span>
      </div>
      <component
        :is="pageInfo"
        v-else
      />

      <div class="flex-1" />

      <BasePagination
        v-model="pagination.current"
        total-visible="5"
        :length="chunks.length"
      />
    </div>
  </div>
</template>
