<script setup lang="ts">
import { ref } from 'vue';
import MenuBtn from '@/components/MenuBtn.vue';
import Menu from '@/components/Menu.vue';

import BG1 from '@/assets/hachi-pic1.png';
import BG2 from '@/assets/hachi-pic2.png';

const menuOpen = ref(false);

const bg = ref(0);
</script>

<template>
  <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col h-full overflow-hidden">
    <img
      v-if="bg === 1"
      class="bg bg1"
      :src="BG1"
    >
    <img
      v-if="bg === 2"
      class="bg bg2"
      :src="BG2"
    >
    <div class="absolute left-20 top-4 flex items-center space-x-2">
      <div>
        <input
          id="bg0"
          v-model="bg"
          type="radio"
          :value="0"
        >
        <label for="bg0">無</label>
      </div>

      <div>
        <input
          id="bg1"
          v-model="bg"
          type="radio"
          :value="1"
        >
        <label for="bg1">圖一</label>
      </div>

      <div>
        <input
          id="bg2"
          v-model="bg"
          type="radio"
          :value="2"
        >
        <label for="bg2">圖二</label>
      </div>
    </div>
    <div
      class="absolute w-full h-full transition-colors duration-300 overflow-hidden"
      :class="menuOpen
        ? 'bg-gray-600 bg-opacity-70'
        : 'pointer-events-none'
      "
      @click.stop.self="menuOpen = false"
    />
    <Menu :model-value="menuOpen" />
    <MenuBtn
      v-model="menuOpen"
      class="absolute left-3 top-0"
    />
  </div>
</template>

<style lang="scss" scoped>

.bg {
  @apply absolute left-1/2 bottom-0 transform-gpu pointer-events-none;

  max-width: none;
}

.bg1 {
  @apply h-9/10;
  --tw-translate-x: -44%;
}
.bg2 {
  @apply h-14/15;
  --tw-translate-x: -65%;
}

@screen sm {
  .bg2 {
    @apply h-full;
    --tw-translate-x: -50%;
  }
}

@screen md {
  .bg1 {
    @apply h-full;
    --tw-translate-x: -46%;
  }
  .bg2 {
    --tw-translate-x: -62%;
  }
}

@screen lg {
  .bg2 {
    --tw-translate-x: -56%;
  }
}
</style>
