<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  path: { type: String, required: true },
  scale: { type: Number, default: 1 },
});
</script>

<template>
  <svg viewBox="0 0 24 24">
    <path
      class="transform-gpu origin-center"
      fill="currentColor"
      :d="props.path"
      :style="{
        '--tw-scale-x': props.scale,
        '--tw-scale-y': props.scale,
      }"
    />
  </svg>
</template>
