<template>
  <router-view />
</template>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  // remove ios black blink when click
  -webkit-tap-highlight-color: transparent;
}
</style>
