<script setup lang="ts">
import { watch, ref } from 'vue';

import {
  mdiPlay, mdiPause,
  mdiPlayCircleOutline, mdiPauseCircleOutline,
  mdiSkipNextOutline, mdiSkipPreviousOutline,
  mdiShuffle, mdiRepeat, mdiRepeatOnce,
} from '@mdi/js';

import BaseTable from './components/BaseComponents/BaseTable.vue';
import MDISvg from './components/MDISvg.vue';

import playlist from '@/assets/playlist.json';

const headers = [
  { value: 'Ctrl', text: '' },
  { value: 'SongTitle', text: 'Title / Artist' },
  { value: 'Duration' },
];

const savedDarkMode = localStorage.getItem('darkMode');
const darkMode = ref(
  typeof savedDarkMode === 'string'
    ? savedDarkMode === 'true'
    : (window.matchMedia?.('(prefers-color-scheme: dark)').matches || false),
);

watch(darkMode, (newVal) => {
  localStorage.setItem('darkMode', `${newVal}`);
  if (newVal) {
    if (document.documentElement.classList.contains('dark')) return;
    document.documentElement.classList.add('dark');
  } else if (document.documentElement.classList.contains('dark')) {
    document.documentElement.classList.remove('dark');
  }
}, { immediate: true });

const getStream = (streamId: string) => playlist.StreamSets.find((x) => x.Id === streamId)?.Title;

</script>

<template>
  <div class="flex flex-col relative w-full h-full">
    <div
      class="
        dark:bg-gray-800 dark:bg-opacity-95
        w-full h-full
        pb-20
        grid grid-cols-1
        grid-flow-row lg:auto-rows-auto
        lg:grid-cols-3"
    >
      <div class="bg-red-700">
        <div class="w-full h-14">
          <input
            id="dark-mode"
            v-model="darkMode"
            type="checkbox"
            name="dark-mode"
          >
        </div>
        left
      </div>
      <div class="lg:col-span-2 overflow-hidden">
        <BaseTable
          id="playlist"
          :headers="headers"
          :page-size-items="[]"
          :items="playlist.SongSets"
          :page-size-default="20"
        >
          <template #Ctrl="{ idx, start }">
            <div class="ctrl-container flex h-4 items-center justify-end">
              <span
                class="track-no"
                v-text="idx + start"
              />
              <MDISvg
                class="w-4 ctrl-btn text-white hidden pointer-events-none cursor-pointer"
                :path="mdiPlay"
                :scale="1.5"
              />
            </div>
          </template>

          <template #SongTitle="{ item }">
            <div
              class="text-black dark:text-gray-200"
              v-text="item.SongTitle"
            />
            <div v-text="item.SongArtist" />
          </template>

          <template #Stream="{ item }">
            {{ getStream(item.StreamId) }}
          </template>
        </BaseTable>
      </div>
    </div>
    <div
      class="absolute left-0 bottom-0 w-full h-20 flex justify-center items-center bg-yellow-700"
    >
      <div class="flex items-center space-x-6 text-white">
        <MDISvg
          class="w-7"
          :path="mdiShuffle"
        />
        <MDISvg
          class="w-10"
          :path="mdiSkipPreviousOutline"
          :scale="1.5"
        />
        <MDISvg
          class="w-16"
          :path="mdiPlayCircleOutline"
        />
        <MDISvg
          class="w-10"
          :path="mdiSkipNextOutline"
          :scale="1.5"
        />
        <MDISvg
          class="w-7"
          :path="mdiRepeat"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#playlist {
  tr:hover {
    .track-no {
      display: none;
    }
    .ctrl-btn {
      display: block;
      pointer-events: auto;
    }
  }

  .td-Ctrl {
    width: 3rem;
  }

  .td-Duration {
    width: 4rem;
    text-align: right;
  }
}

.ctrl-btn svg {
  display: initial;
}
</style>
