<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

const props = defineProps({
  modelValue: { type: Boolean, required: true },
});

const emit = defineEmits(['update:modelValue']);

// const active = ref(false);
let lock = false;
const click = () => {
  if (lock) return;

  lock = true;
  emit('update:modelValue', !props.modelValue);
  setTimeout(() => { lock = false; }, 300);
};
</script>

<template>
  <div
    class="menu-btn"
    :class="{ active: props.modelValue }"
  >
    <div
      class="menu-icon-wrapper"
      @click="click"
    >
      <div class="shadow-group">
        <span class="shadow1" />
        <span class="shadow2" />
        <span class="shadow3" />
      </div>
      <div class="bar-group">
        <span class="bar1" />
        <span class="bar2" />
        <span class="bar3" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

.menu-btn {
  @apply w-12 h-24;
}

.menu-icon-wrapper {
  @apply absolute w-12 h-12 left-0 top-5 duration-300 ease-out;

  transition-property: width, height, left;
}

.shadow-group,
.bar-group {
  @apply absolute w-10 h-10 left-1 top-1;
}
.bar-group {
  transform: scaleX(-1);
}
.bar1, .bar2, .bar3,
.shadow1, .shadow2, .shadow3 {
  @apply absolute w-10 h-1 top-5;
  &::after {
    @apply absolute border-0 duration-300 ease-out rounded w-full h-full;
    content: "";
    transition-property:
      transform, background-color, border-color, border-width, border-radius;
  }
}
.bar1, .bar2, .bar3 {
  &::after {
    @apply bg-gray-900 border-0;
  }
}
.shadow1, .shadow2, .shadow3 {
  &::after {
    @apply bg-yellow-200 border-0;
  }
}
.bar1, .shadow1 {
  transform: translateY(12px);
}
.bar3, .shadow3 {
  transform: rotate(180deg) translateY(12px);
}

.active {
  &.menu-btn {
    @apply h-20;
  }

  .menu-icon-wrapper {
    @apply left-0 top-0 h-20 transform scale-75;
  }

  .shadow-group,
  .bar-group {
    @apply h-20 -left-5 top-0;
    width: 80px;
  }

  .bar1, .bar2, .bar3,
  .shadow1, .shadow2, .shadow3 {
    @apply top-12;
    width: 80px;
    height: 10px;
    &::after {
      @apply rounded-none;
    }
  }
  .bar1, .bar2, .bar3 {
    &::after {
      @apply border border-gray-700 bg-gray-700;
    }
  }
  .shadow1, .shadow2 {
    &::after {
      @apply border-b border-gray-400 bg-yellow-400;
    }
  }
  .shadow3 {
    &::after {
      @apply border-t border-gray-400 bg-yellow-400;
    }
  }
  .bar2, .shadow2 {
    &::after {
      transform: matrix3d(
        0.625, 0.625, 0, 0,
        0, 2, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1,
      );
    }
  }

  .bar1, .shadow1 {
    transform: translateY(25px);
  }
  .bar3, .shadow3 {
    transform: rotate(180deg) translateY(25px);
  }

  .bar1, .shadow1,
  .bar3, .shadow3 {
    &::after {
      transform: matrix3d(
        0.3645833333, 0.3645833333, 0, 0,
        -0.8333333333, 2, 0, 0.03333333333,
        0, 0, 1, 0,
        -10.41666667, 16.25, 0, 1
      )
    }
  }
}
</style>
