<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  modelValue: { type: Boolean, required: true },
});
</script>

<template>
  <div
    class="absolute top-0 w-72 h-96 p-4 pt-28 bg-gray-200
      rounded-tr-lg rounded-br-lg transition-all duration-300"
    :class="props.modelValue ? 'left-0 opacity-100' : '-left-72 opacity-30'"
  >
    <div class="text-container">
      <span class="text1">HACHI</span>
      <span class="text2">100K Congrats!</span>
    </div>
    123
  </div>
</template>

<style lang="scss" scoped>
.text-container {
  @apply absolute top-5 left-16 w-64 h-16
        flex flex-col justify-evenly
        text-2xl font-bold font-sans leading-none;
}
.text1 {
  @apply text-yellow-500;
}

.text2 {
  @apply text-gray-700 text-outline text-outline-gray-100;
}
</style>
